*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Inter, sans-serif;
    
}

header{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f55A5A;
    color: white;
}

header > img{
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 800;
    font-family: Inter;
}